:root{
    --color-primary: #ff3400;
    --color-secondary: #ff5e00;
    --color-bg: #192022;
    --color-bg-secondary: #252b2c;
    --color-bg-3: #2e3435;
    --color-bg-4: #505455;
    --color-text-header: #fff;
    --color-text-btn: #fff;
    --color-text-body: #ebebeb;
    --color-text-placeholder: #afafaf;
    --border-radius:30px;
}

.block{
    background-color: var(--color-bg);
    padding-top: 128px;
    padding-bottom: 128px;
}

.blob{
    background-color: var(--color-bg-secondary);
    border-radius: var(--border-radius);
    padding: 64px;
}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5{
    color: var(--color-text-header);
}

h1,.h1{
    font-size: 3.052rem;
}

h2,.h2{
    font-size: 2.441rem;
}

h3,.h3{
    font-size: 1.953rem;
}

h4,.h4{
    font-size: 1.563rem;
    font-weight: normal;
}

h5,.h5{
    font-size: 1.25rem;
    font-weight: lighter;
}

body{
    font-size: 1rem;
    color: var(--color-text-body);
}

.btn-login{
    background: linear-gradient(90deg, var(--color-primary) 0%,var(--color-secondary) 100%);
    border: none;
    color: var(--color-text-btn);
    padding: 16px 32px;
    text-align: center;
    border-radius: 32px;
    transition: 0.2s;
    margin-top: 56px;
    min-width: 100%;
}

.btn-login:hover{
    padding: 17px 34px;
    transition: 0.2s;
    font-size: 1.05rem;
    margin: -1px 0px;
    margin-top: 54px;
    border-radius: 22px;
}

.btn-login:active{
    padding: 15px 30px;
    transition: 0.1s;
    font-size: 0.95rem;
    margin: 1px 0px;
    margin-top: 58px;
    border-radius: 32px;
}

input[type=text],input[type=password],input[type=tel], input[type=email]{
    min-width: 100%;
    background-color: var(--color-bg-4);
    border: none;
    border-radius: 8px;
    padding: 16px;
    color: var(--color-text-body);
}

input[type=text]:focus,input[type=password]:focus,input[type=tel]:focus,input[type=email]:focus{
    border: none;
    outline: none;
}

label{
    margin-top: 32px;
}

::placeholder{
    color: var(--color-text-placeholder);
}

form{
    margin-top: 32px;
}

a{
    color: var(--color-secondary);
}

a:hover{
    color: var(--color-primary);
}

table, th, td{
    color:var(--color-text-body);
    border: 1px solid;
    background-color: var(--color-bg-3);
}

table {
    width: 100%;
}

th, td {
    padding: 8px;
}

.sidebar{

    height: 100vh;
    width: 175px;
    background-color: var(--color-bg-secondary);
    float: left;
    position: fixed;
}

.sidebar a{
    display:block;
    padding: 16px;
    text-decoration: none;
    color: var(--color-text);
}

.sidebar a.active{
    background-color: var(--color-secondary);   
}

.sidebar a:hover:not(.active) {
    background-color: var(--color-secondary)
}

p {
    line-height: 1rem;
}